#inicio {
  margin-top: 70px;
  display: grid;
  height: 150vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20fr 14fr 10fr 14fr 21fr 28fr 300px;
}

#gradientbackground1 {
  background: linear-gradient(#f1f1f1, white);
  grid-column: 1 / 3;
  grid-row: 2 / 6;
}

#profpic {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 100%;
  object-position: 100% 0%;
}

#info {
  grid-column: 1;
  grid-row: 3 / 5;
}

#infopic {
  grid-column: 1;
  grid-row: 5;
}

#infopic .container {
  margin: 0 auto;
}

#address {
  grid-column: 2;
  grid-row: 1 / 2;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f7f7f7;
}

#map {
  grid-column: 2;
  grid-row: 2 / 4;
}

#desc {
  grid-column: 2;
  grid-row: 4 / 6;
  padding: 10%;
  text-align: justify;
  font-size: 13px;
  line-height: 15px;
}

#fbplugin {
  grid-column: 1 / 3;
  grid-row: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* padding: 10%;
  text-align: justify;
  font-size: 13px;
  line-height: 15px; */
}

#text3 {
  grid-column: 1 / 3;
  grid-row: 7;
  margin: 30px 0 30px 0;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #50b4c2;
  /* border-radius: 10px; */
  -moz-box-shadow: 0 0 10px #50b4c2;
  -webkit-box-shadow: 0 0 10px #50b4c2;
  box-shadow: 0 0 10px #50b4c2;
}

#text3content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid #50b4c2;
  padding: 10px;
  height: 100%;
}

#text3border {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding: 3px;
  color: black;
  border-radius: 5px;
  border: 2px solid #50b4c2;
  width: 800px;
  height: 80%;
}

#text3titlecontainter > h2 {
  font-size: 50px;
  font-weight: 200;
  /* padding-top: 8px; */
  line-height: 60px;
}

#text3 > p {
  padding: 0 5% 0 5%;
}

#procedimientos {
  display: grid;
  height: 160vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 30% 30% 30% 110px 350px 40px;
}

.container {
  /* margin: auto auto; */
  height: auto;
  width: 50%;
  background-color: rgb(255, 255, 255, 0);
}

.slick-slide {
  text-align: center;
  color: #50b4c2;
  background: white;
}

.slick-slide {
  height: 20vw;
}

.slick-track img {
  max-height: 20vw;
  width: 100%;
  object-fit: contain;
}

.bottom-text {
  padding: 20px 40px;
  overflow: scroll;
}

.bottom-text ul {
  padding-top: 30px;
  padding-left: 30px;
  /* list-style-type: circle; */
}

.listcolumns {
  -webkit-columns: 2 150px;
  -moz-columns: 2 150px;
  columns: 2 150px;
  -webkit-column-rule: 1px dotted #ddd;
  -moz-column-rule: 1px dotted #ddd;
  column-rule: 1px dotted #ddd;
}

.bottom-text ul li {
  line-height: 20px;
}

.bottom-text ul li::before {
  content: "◦ ";
}

.text li {
  align-self: flex-start;
}

/* #gradientbackground2 {
  background-color: #e0e0e0;
  grid-column: 1 / 3;
  grid-row: 1;
}

#gradientbackground3 {
  background-color: #ededed;
  grid-column: 1 / 3;
  grid-row: 2;
}

#gradientbackground4 {
  background-color: #f2f2f2;
  grid-column: 1 / 3;
  grid-row: 3;
} */

#gradientbackgroundtest {
  background: linear-gradient(white, #f1f1f1);
  grid-column: 1 / 3;
  grid-row: 1 / 5;
}

.divider {
  width: 50%;
  border-bottom: 2px solid #a5a5a5;
  grid-column: 1 / 3;
  margin: 0 auto;
}

.textdivider {
  width: 90%;
  border-bottom: 1px solid #a5a5a5;
  /* grid-column: 1 / 3; */
  /* margin: 0 auto; */
}

#divider1 {
  grid-row: 1;
}

#divider2 {
  grid-row: 2;
}

#divider3 {
  grid-row: 3;
}

#divider4 {
  margin-top: 90px;
  grid-row: 5;
  width: 70%;
  /* grid-column: 1 / 3; */
  border-top: 2px solid #a5a5a5;
  border-bottom: 2px solid #a5a5a5;
}

#pic4 {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text4 {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  flex-direction: column;
}

#pic5 {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text5 {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  flex-direction: column;
}

#pic6 {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text6 {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  flex-direction: column;
  font-family: "IBM Plex Serif", serif;
}

.bottom-text li {
  font-family: "IBM Plex Serif", serif;
}

#trajectoria {
  grid-column: 1 / 3;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

#trajectoria > div {
  width: 50%;
  height: 100%;
}

#trajectoria-img {
  object-fit: contain;
}

#trajectoria-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  box-sizing: border-box;
}

#trajectoria-text ul {
  list-style-type: circle;
  margin-left: 15px;
  line-height: 20px;
}

footer {
  grid-column: 1 / 3;
  grid-row: 6;
  background-color: white;
  display: flex;
  flex-direction: row;
}

footer > span {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

#fbfooter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

#fbfooter > div:first-child {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contactme {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px 0 40px 40px;
  box-sizing: border-box;
}

#contactme > *:last-child * {
  padding: 7px 0;
}

#phonenum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1;
  z-index: 900;
  height: 10vw;
}

.bottom-text ul li {
  font-size: 16px;
}

/* #facebookbig {
  display: none;
}

#facebooksmall {
  display: flex;
} */

@media only screen and (min-width: 600px) {
  .bottom-text ul li {
    font-size: 100%;
  }
  #facebookbig {
    display: inline-block;
  }

  #facebooksmall {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  #facebookbig {
    display: none;
    visibility: hidden;
  }

  #facebooksmall {
    display: inline-block;
  }
}

#contactForm input {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0;
  padding: 7px 0 7px 5px;
  width: 50%;
}

#contactForm button {
  margin-top: 20px;
  padding: 10px 40px;
  background-color: #333333;
  color: white;
}

input:focus {
  outline: 0 !important;
}

#privacy {
  grid-column: 1 / 3;
  grid-row: 7;
  display: flex;
  padding-left: 3%;
}

#trajectoria ul > li {
  margin: 8px 0;
}

header a {
  cursor: pointer;
}

.sub-list {
  margin-left: 15px;
  font-size: 90% !important;
}

.sub-list::before {
  content: "◌ " !important;
}
